<form [formGroup]="quizForm" (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-content>
      <div class="title-and-reading">
        <mat-form-field appearance="fill">
          <mat-label>Title</mat-label>
          <input matInput id="title" formControlName="title" type="text" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Reading</mat-label>
          <textarea matInput id="reading" formControlName="reading"></textarea>
        </mat-form-field>
      </div>

      <ng-container formArrayName="questions">
        <div
          *ngFor="let question of questions.controls; let qIndex = index"
          [formGroupName]="qIndex"
        >
          <mat-card class="question-card">
            <mat-card-header>
              <mat-card-title>Question {{ qIndex + 1 }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Question</mat-label>
                <input
                  matInput
                  id="question"
                  formControlName="question"
                  type="text"
                />
              </mat-form-field>

              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Question Type</mat-label>
                <mat-select formControlName="type">
                  <mat-option value="multiple-choice"
                    >Multiple Choice</mat-option
                  >
                  <mat-option value="ordering">Ordering</mat-option>
                  <mat-option value="matching">Matching</mat-option>
                </mat-select>
              </mat-form-field>

              <ng-container
                *ngIf="
                  questions.at(qIndex).get('type')?.value === 'multiple-choice'
                "
              >
                <app-multiple-choice-question-form
                  [questionForm]="getQuestionFormGroup(qIndex)"
                  (remove)="removeQuestion(qIndex)"
                ></app-multiple-choice-question-form>
              </ng-container>

              <ng-container
                *ngIf="questions.at(qIndex).get('type')?.value === 'ordering'"
              >
                <app-ordering-question-form
                  [questionForm]="getQuestionFormGroup(qIndex)"
                  (remove)="removeQuestion(qIndex)"
                ></app-ordering-question-form>
              </ng-container>

              <ng-container
                *ngIf="questions.at(qIndex).get('type')?.value === 'matching'"
              >
                <app-matching-question-form
                  [questionForm]="getQuestionFormGroup(qIndex)"
                  (remove)="removeQuestion(qIndex)"
                ></app-matching-question-form>
              </ng-container>
            </mat-card-content>
            <mat-card-actions>
              <button
                mat-raised-button
                color="warn"
                type="button"
                (click)="removeQuestion(qIndex)"
              >
                Delete Question
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
      </ng-container>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-raised-button
        color="primary"
        type="button"
        (click)="addQuestion()"
      >
        Add Question
      </button>
      <button mat-raised-button color="accent" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
