<h2>All Quizzes</h2>
<section class="search">
    <mat-form-field class="search-field">
      <mat-label>Search Quizzes</mat-label>
      <input matInput type="text" #filter />
    </mat-form-field>
    <button mat-button class="search-button" type="button" (click)="filterQuizzes(filter.value)">
      <mat-icon>search</mat-icon>
    </button>
</section>

<section class="results">
  <mat-card appearance="outlined">
    <div *ngFor="let quiz of quizList">
      <app-quiz [quiz]="quiz"></app-quiz>
    </div>
  </mat-card>
</section>