<section class="create-quiz">
    <div class="model-selection">
        <mat-form-field>
            <mat-label>Model</mat-label>
            <mat-select [(value)]="modelChoice">
                <mat-option value="lm">LM Studio</mat-option>
                <mat-option value="openai">ChatGPT</mat-option>
                <mat-option value="none">No Model (JSON)</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="model-controls">
        <div class="button-group">
            <button mat-flat-button>Load Model</button>
            <button mat-flat-button disabled disabledInteractive matTooltip="No model is loaded">Unload Model</button>
        </div>
        <div class="options-container">
            <button mat-icon-button matTooltip="Options">
                <mat-icon>settings</mat-icon>
            </button>
        </div>
    </div>

    <div class="response-settings">
        Quiz Options
        <br>
        <mat-form-field>
            <mat-label>Question language</mat-label>
            <mat-select [(value)]="questionLanguage">
                <mat-option value="en">English</mat-option>
                <mat-option value="jp">Japanese</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Answer language</mat-label>
            <mat-select [(value)]="answerLanguage">
                <mat-option value="en">English</mat-option>
                <mat-option value="jp">Japanese</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Number of questions</mat-label>
            <input matInput [(ngModel)]="numQuestions" type="number" min="1" max="50">
        </mat-form-field>
    </div>
    Model Input
    <div class="input-container">
        <mat-form-field class="input-field">
            <mat-label>Input</mat-label>
            <textarea matInput #input></textarea>
        </mat-form-field>
        <button mat-flat-button (click)="submitText(input.value)">Submit</button>
    </div>
</section>