<div *ngIf="userId; else notLoggedIn">
    <h2>Quiz Attempts</h2>
    <mat-card *ngFor="let attempt of attempts">
        <mat-card-header>
            <mat-card-title>{{ attempt.quizData?.title }}</mat-card-title>
            <mat-card-subtitle class="date">Score: {{ attempt.score }} | Date: {{ attempt.attemptDate | date }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <button mat-button [routerLink]="['/quiz', attempt.quiz]">Go to Quiz</button>
        </mat-card-content>
    </mat-card>
</div>

<ng-template #notLoggedIn>
    <div>
        <h2>You need to login to see quiz attempts</h2>
    </div>
</ng-template>