<H3>MATCHING</H3>
<div [formGroup]="questionForm">
  <div formArrayName="options">
    <div *ngFor="let pair of options.controls; let pIndex = index" [formGroupName]="pIndex" class="pair-item">
      <div class="pair-container">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Left Item {{ pIndex + 1 }}</mat-label>
          <input matInput formControlName="left" type="text" />
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Right Item {{ pIndex + 1 }}</mat-label>
          <input matInput formControlName="right" type="text" />
        </mat-form-field>
        <button matSuffix mat-icon-button color="warn" type="button" (click)="removePair(pIndex)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
    <button mat-raised-button color="primary" type="button" (click)="addPair()">
      Add Pair
    </button>
  </div>
</div>
